<script setup lang="ts" name="About">
import { getUserInfo } from "@/api/user";
import { WSDispatchEnum, WSReceptionEnum } from "@/enums/wsEnum";
import { getCurrentInstance } from "vue";

const instance = getCurrentInstance();
const ws: WSExample = instance?.appContext.config.globalProperties.$ws;

getUserInfo({});
ws.subscribe(WSReceptionEnum.RECEPTION_EVENT_NOTICE, (message: any) => {
  console.log(message);
});

const dispatchNotice = () => {
  ws.dispatch(WSDispatchEnum.DISPATCH_EVENT_NOTICE, "城市大四的");
};
</script>

<template>
  <div @click="dispatchNotice">about</div>
</template>
