<script setup lang="ts" name="Login">
import { ref } from "vue";
import type { FormInstance } from "vant";
import Token from "@/utils/token";
import router from "@/router";
import { userLogin } from "@/api/user";

const username = ref("");
const password = ref("");
const formRef = ref<FormInstance>();

const onSubmit = async () => {
  const data = await userLogin({
    username: username.value,
    password: password.value
  });

  Token.setToken(data.token);
  router.push("/home");
};
const handleClick = () => {
  formRef.value?.submit();
};
</script>

<template>
  <van-form ref="formRef" @submit="onSubmit">
    <van-cell-group inset>
      <van-field
        v-model="username"
        name="username"
        label="用户名"
        placeholder="用户名"
        autocomplete="off"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="password"
        type="password"
        name="password"
        label="密码"
        placeholder="密码"
        :rules="[{ required: true, message: '请填写密码' }]"
      />
    </van-cell-group>
    <div class="mx-[16px]">
      <van-button v-debounce:200="handleClick" round block type="primary">
        提交
      </van-button>
    </div>
  </van-form>
</template>
