<script setup lang="ts" name="Home">
import { ref, onMounted } from "vue";
import Audio from "@/plugins/audio";
const isPlaying = ref<boolean>(false);
const musicInfo = ref({
  duration: 0,
  currentDuration: 0
});
// Setup the new Howl.
const sound = new Audio({
  src: ["./src/assets/audios/wdmm.mp3"],
  onload: () => {
    musicInfo.value.duration = sound.audio.duration();
    setInterval(() => {
      musicInfo.value.currentDuration = sound.audio.seek();
    }, 500);
  }
});

onMounted(() => {});

const handlePlayOrPause = () => {
  if (!sound.isPlaying()) {
    handlePlay();
  } else {
    handlePause();
  }
  isPlaying.value = !isPlaying.value;
};

const handlePlay = () => {
  sound.play();
};

const handlePause = () => {
  sound.pause();
};

const handleStop = () => {
  sound.stop();
};
const onChange = (val: number) => {
  sound.audio.seek(val);
};
</script>
<template>
  <div class="home-container w-hull h-full flex flex-col justify-between">
    <div class="w-[80%] h-[520px] mx-auto bg-[#000]">
      <div class="h-[300px] pt-10"></div>
    </div>
    <div class="px-[20px]">
      <van-slider
        v-model="musicInfo.currentDuration"
        :min="0"
        :max="musicInfo.duration"
        :step="1"
        @change="onChange"
      />
    </div>
    <div class="flex justify-between px-[40px] pb-[20px]">
      <div
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold !p-[14px] !rounded-[25px] shadow"
      >
        <svg-icon class="text-[24px] flex-shrink-0" name="skip-back" />
      </div>
      <div
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold !p-[14px] !rounded-[25px] shadow"
        @click="handlePlayOrPause"
      >
        <svg-icon class="text-[24px]" :name="!isPlaying ? 'play' : 'pause'" />
      </div>

      <div
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold !p-[14px] !rounded-[25px] shadow"
      >
        <svg-icon class="text-[24px]" name="skip-fwd" />
      </div>
    </div>
  </div>
</template>
