<script setup lang="ts">
import router from "@/router";
import { useThemeMode, useToggleThemeMode } from "@/hooks/useToggleThemeMode";
import { ThemeEnum } from "@/enums/optionsEnum";
const { title } = defineProps({
  title: {
    type: String,
    default: ""
  }
});

const onClickRight = () => {
  useToggleThemeMode();
};
const onClickLeft = () => {
  router.back();
};
</script>

<template>
  <van-nav-bar
    fixed
    left-arrow
    placeholder
    :title="title"
    @click-left="onClickLeft"
    @click-right="onClickRight"
  >
    <template #right>
      <svg-icon
        class="text-[18px]"
        :name="useThemeMode() ? ThemeEnum.DARK : ThemeEnum.LIGHT"
      />
    </template>
  </van-nav-bar>
</template>

<style scoped></style>
