<template>
  <router-view />
</template>

<script setup lang="ts">
import { onBeforeMount } from "vue";
import { initLang } from "./locales";
import { useToggleLanguage } from "./hooks/useLanguage";

onBeforeMount(() => {
  /** 初始化语言 */
  useToggleLanguage(initLang);
});
</script>
