<script setup lang="ts">
import router from "@/router";
import { computed, ref, watch } from "vue";
import Tabbar from "@/components/Tabbar/index.vue";
import NavBar from "@/components/NavBar/index.vue";
import { useThemeMode } from "@/hooks/useToggleThemeMode";
import { useCachedViewStore } from "@/store/modules/cachedView";
import { ThemeEnum } from "@/enums/optionsEnum";

const cachedViews = computed(() => {
  return useCachedViewStore().cachedViewList;
});
let meta = ref<RouterMetaConfig>({});
// 监听路由变化
watch(
  router.currentRoute,
  (newRoute) => (meta.value = newRoute.meta as RouterMetaConfig),
  { immediate: true }
);
</script>

<template>
  <div class="app-wrapper">
    <van-config-provider
      class="w-full h-full pb-[50px]"
      :theme="useThemeMode() ? ThemeEnum.DARK : ThemeEnum.LIGHT"
    >
      <nav-bar v-show="!meta.isHideNavBar" :title="meta.title" />
      <router-view v-slot="{ Component }">
        <keep-alive :include="cachedViews">
          <component :is="Component" />
        </keep-alive>
      </router-view>
      <Tabbar />
    </van-config-provider>
  </div>
</template>

<style lang="less" scoped>
@import "@/assets/styles/mixin.less";

.app-wrapper {
  .clearfix();
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
